body {
    font-family: sans-serif;
    margin: 0;
    padding: 40px, 0;
    background-color: #aee6cb;
    color: #96dfd8;
    line-height: 1.5;
    text-align: left;
   
}

/* --- ENCABEZADO Y NAVEGACIÓN --- */
header {
    background-color: #96dfd8;
    color: #00a497;
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    font-family: serif;
    text-align: center;
    margin: 1rem 0;
    font-size: 2.5rem;
    line-height: 80.5px;
}

form{
    width: 60%;
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

header img{
    border-radius: 15px;
}

form h2 {
    margin-top: 35px;  /* Aumenta el espacio libre antes de que empiece el título */
    margin-bottom: 10px; /* Separa el título del texto o input que le sigue */
}


form input[type="text"],form input[type="email"] {
    background-color: #ebf6f1;      /* Fondo suave para las casillas */
    color: #07b6d4;
    border: 1px solid #aee6cb;      /* Color del borde */
    border-radius: 8px;             /* Esquinas redondeadas */
    padding: 6px 10px;   /* Espacio interno dentro de la casilla */
    width: 90%;  
    height: 20px;
    display: block;
    margin: 5px 0 15px 0;
}  
 
form input[type="time"]{
    background-color: #ebf6f1;      /* Fondo suave para las casillas */
    color:#07b6d4;
    border: 1px solid #aee6cb;      /* Color del borde */
    border-radius: 8px;             /* Esquinas redondeadas */
    padding: 6px 10px;   /* Espacio interno dentro de la casilla */
    width: 70px;  
    height: 20px;
    display: block;
    margin: 10px 0 20px 0;
}  
form input[type="date"] {
    background-color: #ebf6f1;      /* Fondo suave para las casillas */
    color:#07b6d4;
    border: 1px solid #aee6cb;      /* Color del borde */
    border-radius: 8px;             /* Esquinas redondeadas */
    padding: 6px 10px;   /* Espacio interno dentro de la casilla */
    width: 100px;  
    height: 20px;
    display: block;
    margin: 5px 0 15px 0;
}

form textarea{
    background-color: #ebf6f1;      /* Fondo suave para las casillas */
    color: #00a497;
    border: 1px solid #aee6cb;      /* Color del borde */
    border-radius: 8px;             /* Esquinas redondeadas */
    padding: 6px 10px;   /* Espacio interno dentro de la casilla */
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box;
    height: 100px;
    display: block;
    margin: 5px 0 15px 0;
} 
button{
    background-color:#d6e9aa;      /* Fondo suave para las casillas */
    color: #5ba17f;
    border: 1px solid #aee6cb;      /* Color del borde */
    border-radius: 8px;             /* Esquinas redondeadas */
    padding: 6px 10px;
    width: 50%;  
    max-width: 100%;
    height: 50%;
    display: block;
    margin: 10px auto;

}
button:hover{
   background-color: rgb(108, 224, 224);
   color:#1ca47d;
   border:2px solid #00a497; 
}